# Configurações de conexão local (credenciais do MySQL)
db_config.json

# Cache do Python
__pycache__/
*.py[cod]
*$py.class

# Configurações do Streamlit
.streamlit/secrets.toml

# Ambientes virtuais
venv/
.venv/
env/
lib/
bin/
include/
